.header {
z-index: 4;
}

.header__top {
padding: 40px 0px;
}

.header__top-inner {
display: flex;
    justify-content: space-between;  
    gap: 30px;

}

.header__logo {
    justify-self: start;
    align-self: center;
    max-width: 276px;
    margin-right: 0%;
}
.header__logo img {
width: 100%;
}


.header__content{
    max-width: 1058px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    transition: transform 0.4s ease;
}



