.sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}
.lorem {text-decoration: line-through;}
.lorem-2 {text-transform: uppercase;}
.wave {
    word-spacing: 30px;
    color: rgb(174, 107, 236);
    text-decoration: overline wavy;
}
.double {
    letter-spacing: 5px;
    text-decoration: underline double  ;
    text-decoration-thickness: 3px;
}