* {box-sizing: border-box;}
.title {display: flex;
justify-content: center;
margin-top: 100px;
position: relative;
}
.title::before {
    content:"" ; 
    background: red;
    border: 5px rgb(0, 0, 0) solid;
    width: 100px;
    height: 100px;
    border-radius: 100%;
position: absolute;
transform: translate( -100px, -39px);
}

.title::after {
    content:"" ; 
    background: rgb(111, 0, 255);
    border: 5px rgb(0, 0, 0) solid;
    width: 100px;
    height: 100px;
    border-radius: 100%;
position: absolute;
transform: translate( 100px, -39px);
}